footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 339px;
  background-color: #2E2E2E;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  background-color: #252525;
}

footer p {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.8px;
  opacity: 0.5;
}

.address {
  margin-bottom: 10px;
}

.contacts {
  margin-bottom: 39px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 21px; 
}